﻿/*#hd{background-color:green;}
#yui-main {background-color:yellow;}
#ft{background-color:blue;}*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

a {
    color: #333;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

a:hover {
    color: #b60050;
}

fieldset,
img {
    border: 0;
}

ul li {
    list-style: none;
}

h1 {
    font-weight: normal;
    font-size: 28px;
    line-height: 1;
    text-align: center;
    margin-bottom: 29px;
}

h2 {
    font-weight: normal;
    font-size: 22px;
    line-height: 1;
    margin-bottom: 40px;
}

h3 {
    font-weight: normal;
    font-size: 20px;
    line-height: 1;
    margin-bottom: 15px;
}

input,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    *font-size: 100%;
    outline: none;
    resize: none;
}

input[type=text],input[type=email],input[type=number] {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    width: 100%;
    height: 58px;
    padding: 0 24px;
    line-height: 58px;
    -webkit-transition: border 0.3s,  color 0.3s;
    transition: border 0.3s,  color 0.3s;
}

input[type=text]:hover,
input[type=text]:focus,
input[type=email]:hover,
input[type=email]:focus,
input[type=number]:hover,
input[type=number]:focus,
input.active {
    border-color: #818181;
}

input[type=text]:focus,input[type=email]:focus,input[type=number]:focus {
    color: #333;
}

input[type=number] {
    -moz-appearance:textfield;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input.datepicker {
    background: url(../img/icon_datepicker.png) calc(100% - 24px) center no-repeat #fff;
}

input.valid {
    background: url(../img/icon_ok.png) calc(100% - 20px) center no-repeat #fff;
}

input.error {
    background: url(../img/icon_error.png) calc(100% - 20px) center no-repeat #fff;
    border-color: #f64747 !important;
    color: #f64747 !important;
}

select.error+.ui-selectmenu-button {
    border-color: #f64747 !important;
    color: #f64747 !important;
}


.isDisabled{
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
    opacity: 0.4;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    pointer-events: none;
}

label.error {
    position: absolute;
    left: 0;
    bottom: -15px;
    color: #f64747;
    font-size: 12px;
    line-height: 1;
}

.btn {
    display: block;
    width: 220px;
    height: 52px;
    margin: 0 auto;
    line-height: 52px;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background: #b60050;
    text-align: center;
}

.btn:hover {
    background: #a10047;
    color: #fff;
}

.btn:focus {
    background: #920040;
}

html {
    min-width: 1100px;
    height: 100%;
    color: #333;
    background: #FFF;
}

body {
    min-height: 100%;
    height: 100%;
    text-align: left;
    font: 16px/22px 'Open Sans', Arial, Helvetica, sans-serif;
}

#bd {
    width: 1060px;
    min-height: 100%;
    position: relative;
    margin: 0 auto;
    text-align: left;
}

#bd:after {
    content: ".";
    display: block;
    height: 0px;
    font-size: 0;
    clear: both;
    visibility: hidden;
}

#bd .empty {
    height: 265px;
    clear: both;
}

#hd {
    height: 88px;
    padding: 30px 0 0 100px;
}

#yui-main {
    padding: 54px 100px 65px;
    box-shadow: 0 0 5px rgba(39, 39, 39, 0.22);
}

#ft {
    height: 207px;
    width: 100%;
    margin: -207px auto 0;
    padding-top: 163px;
    position: relative;
    clear: both;
    background: url(../img/bg_bottom.png) center top repeat-x;
}

.ft_decor {
    height: 3px;
    background: #b0024a;
    position: relative;
}

.ft_decor:before {
    content: '';
    position: absolute;
    left: 50%;
    top: -14px;
    margin-left: -100px;
    width: 200px;
    height: 27px;
    background: url(../img/text_bottom.png) center no-repeat #fff;
}

.clear {
    height: 0px;
    font-size: 0;
    clear: both;
    visibility: hidden;
}

.controls {
    position: relative;
    margin-bottom: 67px;
}

.controls_back {
    position: absolute;
    left: 0;
    top: -48px;
    font-size: 15px;
    line-height: 1;
    padding-left: 15px;
}

.controls_back:before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    background: url(../img/icon_back.png) left top no-repeat;
    width: 6px;
    height: 11px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.controls_back:after {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    background: url(../img/icon_back.png) left bottom no-repeat;
    width: 6px;
    height: 11px;
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.controls_back:hover:before {
    opacity: 0;
}

.controls_back:hover:after {
    opacity: 1;
}

.controls_steps {
    position: absolute;
    right: 0;
    top: -48px;
    font-size: 15px;
    line-height: 1;
    color: #999;
}

.controls_line {
    height: 2px;
    background: #e4e4e4;
    position: relative;
}

.controls_line_glow {
    height: 2px;
    background: #b60050;
    transition: all 0.4s;
    transition-delay: 0.03s;
}

.row_spacer_60 {
    height: 60px;
}

.row_t {
    display: table;
    width: 100%;
    margin-bottom: 20px;
}

.row_t+h2 {
    margin-top: 75px;
}

.row_t+h3 {
    margin-top: 55px;
}

.row_t+.row_btn {
    margin-top: 60px;
}

.col_t {
    display: table-cell;
    vertical-align: middle;
}

.col_t.col_1 {
    padding-right: 70px;
}

.col_t.col_2 {
    width: 56%;
    height: 60px;
    position: relative;
}

.col_2_text {
    padding: 0 25px;
}

.row_half {
    padding-left: calc(44% + 25px);
}

.card_info {
    border: 1px dashed #ccc;
    border-radius: 5px;
    margin: 75px -40px 20px;
    padding: 30px 40px;
    position: relative;
}

.card_info+.card_info {
    margin-top: 55px;
}

.del_card {
    position: absolute;
    right: 40px;
    top: -32px;
    font-size: 12px;
    color: #666;
}

.add_card {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding-left: 52px;
    margin-bottom: 55px;
    position: relative;
}

.add_card:before,.add_card:after{
    position: absolute;
    left: 0;
    top: 50%;
    content: '';
    text-align: center;
    line-height: 37px;
    display: block;
    width: 37px;
    height: 37px;
    margin-top: -19px;
    border-radius: 50%;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background: center no-repeat;
}

.add_card:before {
    background-image:  url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAAIklEQVQokWNgwAGMjY3/45LDCUacJmNj4/+kYjo6bxhqAgCGFifZvi/s3gAAAABJRU5ErkJggg==);
    border: 1px solid #383838;

}

.add_card:after {
    background-image:  url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAAIklEQVQokWNgwAF2sIX8xyWHE4w4TTvYQv6TiunovGGoCQB9czOqwXpakAAAAABJRU5ErkJggg==);
    border: 1px solid #b80654;
    opacity: 0;
}

.add_card:hover:before {
    opacity: 0;
}

.add_card:hover:after {
    opacity: 1;
}

.add_card_info {
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url(../img/icon_info.png) center no-repeat;
    vertical-align: middle;
    margin-left: 16px;
    position: relative;
}

.add_card_info.add_card_info--v2{
    position: absolute;
    top: 8px;
    right: -20px;
}

.add_card_info_text {
    position: absolute;
    left: 100%;
    top: -30px;
    margin-left: 17px;
    width: 265px;
    padding: 20px;
    background: #474747;
    border-radius: 4px;
    font-size: 13px;
    line-height: 18px;
    color: #fff;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 3;
}

.add_card_info--v2>.add_card_info_text{
    left: auto;
    right: 100%;
    margin-right: 6px;
}

.add_card_info_text:before {
    content: '';
    position: absolute;
    left: -20px;
    top: 29px;
    border: 10px solid transparent;
    border-right: 10px solid #474747;

}

.add_card_info--v2>.add_card_info_text:before{
    left: auto;
    right: -20px;
    border-left: 10px solid #474747;
    border-right: 10px solid transparent;
}

.add_card_info:hover .add_card_info_text {
    opacity: 1;
    visibility: visible;
}

.more_border_info {
    border: 1px dashed #ccc;
    border-radius: 5px;
    margin: 30px -40px 20px;
    padding: 30px 40px 10px;
    position: relative;
}

.more_border_info+.more_border_info {
    margin-top: 65px;
}

.more_border_info+h2 {
    margin-top: 75px;
}

.choice_banks {
    font-size: 0;
    line-height: 0;
    margin: 0 -7px 45px;
}

.choice_banks label {
    width: 160px;
    height: 120px;
    line-height: 120px;
    padding: 0;
    margin: 0 7px 14px;
    border: 1px solid #e6e6e6 !important;
    text-align: center;
}

.choice_banks label:hover{
    box-shadow: 0 0 7px rgba(39, 39, 39, 0.18);
}

.choice_banks img {
    vertical-align: middle;
    max-width: 140px;
    max-height: 100px;
}

.choice_banks .ui-icon {
    position: absolute;
    left: auto !important;
    right: 9px !important;
    top: 9px !important;
    background: url(../img/icon_choice_bank.png) center no-repeat !important;
    width: 23px !important;
    height: 23px !important;
    border: none !important;
    box-shadow: none;
    border-radius: 0;
    margin: 0;
    display: none;
}

.choice_banks .ui-state-active .ui-icon {
    display: block;
}

.other_family_list {
    font-size: 0;
    line-height: 0;
}

.other_family_list li {
    display: inline-block;
    vertical-align: top;
    width: 215px;
    margin-bottom: 20px;
}

.other_family_list label {
    margin: 0 !important;
}

.info_banksAnket {
    font-size: 15px;
    max-width: 720px;
    margin-bottom: 80px;
}

.down_bankAnket {
    display: block;
    height: 110px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    margin: 0 -40px 20px;
    padding: 0 39px;
    line-height: 108px;
}

.down_bankAnket:hover {
    border-color: #b60050;
}

.down_bankAnket img {
    vertical-align: middle;
}

.down_bankAnket_text {
    float: right;
    background: url(../img/icon_down.png) left center no-repeat;
    padding-left: 35px;
    font-size: 15px;
    color: #b60050;
}

.ui-selectmenu-button.ui-button {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    width: 100%;
    height: 58px;
    padding: 0 34px 0 24px;
    margin: 0;
    line-height: 58px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 481px;
}

.ui-selectmenu-button.ui-button:hover {
    border-color: #818181;
    color: #333;
}

.ui-selectmenu-button.ui-button.ui-selectmenu-button-open {
    border-radius: 4px 4px 0 0;
    border-color: #818181 !important;
    color: #333;
}

.ui-selectmenu-icon,
.ui-selectmenu-button.ui-button:hover .ui-selectmenu-icon {
    float: none;
    position: absolute;
    right: 25px;
    top: 50%;
    background: url(../img/icon_str_select.png) center no-repeat !important;
    width: 16px;
    height: 9px;
    margin-top: -4px !important;
}

.ui-button.ui-selectmenu-button-open .ui-selectmenu-icon {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.ui-widget.ui-widget-content {
    border: 1px solid #818181;
    border-top-color: #ccc;
    border-radius: 0 0 4px 4px;
    margin-top: -1px;
}

.ui-menu .ui-menu-item-wrapper {
    padding: 0 25px;
    margin: 0;
    max-width: 478px;
    height: 58px;
    line-height: 58px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: none;
}

.ui-menu li {
    list-style: none !important;
}

.ui-widget-content .ui-state-active {
    border: none;
    background: #f6f6f6;
    color: #333;
}

.ui-checkboxradio-label {
    background: none !important;
    border: none !important;
    box-shadow: none;
    font-size: 15px;
    color: #333 !important;
}

.checkbox .ui-checkboxradio-label {
    padding: 0 0 0 30px;
    margin: 0 55px 0 0;
    width: auto;
    height: 21px;
    line-height: 21px;
}

.ui-checkboxradio-label .ui-checkboxradio-icon {
    position: absolute;
    left: 0;
    top: 3px;
    box-shadow: none;
    background: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 21px;
    height: 21px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.ui-checkboxradio-label:hover .ui-checkboxradio-icon {
    border: 1px solid #818181;
}

.ui-checkboxradio-label.ui-state-active .ui-checkboxradio-icon,
.ui-checkboxradio-label.ui-state-active:hover .ui-checkboxradio-icon {
    position: absolute;
    left: 0;
    top: 3px;
    box-shadow: none;
    background: url(../img/icon_check.png) center no-repeat;
    border: 1px solid #b60050;
    border-radius: 3px;
    width: 21px;
    height: 21px;
}

.big_check_text {
    font-size: 16px;
}

.radio .ui-checkboxradio-label {
    padding: 0 0 0 30px;
    margin: 0 75px 0 0;
    width: auto;
    height: 18px;
    line-height: 18px;
}

.ui-checkboxradio-radio-label .ui-checkboxradio-icon {
    position: absolute;
    left: 0;
    top: 3px;
    box-shadow: none;
    background: none;
    border: 1px solid #cdcdcd;
    border-radius: 9px;
    width: 18px;
    height: 18px;
}

.ui-checkboxradio-radio-label.ui-state-active .ui-checkboxradio-icon,
.ui-checkboxradio-radio-label.ui-state-active:hover .ui-checkboxradio-icon {
    position: absolute;
    left: 0;
    top: 3px;
    box-shadow: none;
    background: none;
    border: 1px solid #b60050;
    border-radius: 9px;
    width: 18px;
    height: 18px;
}

.ui-checkboxradio-radio-label.ui-state-active .ui-checkboxradio-icon:before {
    content: '';
    position: absolute;
    left: 5px;
    top: 5px;
    width: 6px;
    height: 6px;
    background: #b60050;
    border-radius: 3px;
}

.ui-datepicker {
    width: 370px;
    padding: 24px 12px 16px;
    box-shadow: 0 2px 4px 1px rgba(39, 39, 39, 0.14);
    font-family: "Open Sans", Arial, sans-serif;
    color: #333333;
}

.ui-datepicker table {
    margin: 0;
}

.ui-datepicker th,
.ui-datepicker td span,
.ui-datepicker td a {
    border: none;
    padding: 0;
    text-align: center;
    width: 42px;
    height: 42px;
    font-size: 15px;
    line-height: 36px;
    font-weight: normal;
}

.ui-datepicker td span,
.ui-datepicker td a {
    border-radius: 50%;
    transition: all 0.1s;
    display: block;
    border: 2px solid #fff!important;
}

.ui-datepicker td span.ui-state-active,
.ui-datepicker td a.ui-state-active,
.ui-datepicker td span:hover,
.ui-datepicker td a:hover {
    background-color: #b60050;
    color: #fff;
}

.ui-datepicker th {
    color: #999;
}

.ui-datepicker .ui-state-default {
    background: none;
    border: none;
}

.ui-datepicker .ui-datepicker-title {
    margin: 0;
}

.ui-datepicker-month,
.ui-datepicker-year {
    float: left;
    display: block;
    position: relative;
    white-space: nowrap;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    padding: 0 17px;
}

.ui-datepicker-month {
    min-width: 120px;
}

.ui-datepicker-year {
    float: right;
    min-width: 80px;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next,
.ui-datepicker-prev-year-arrow,
.ui-datepicker-next-year-arrow {
    display: block;
    height: 13px;
    width: 8px;
    background-image: url(../img/arrow.png);
    background-position: center;
    background-size: 100% 100%;
    background-color: transparent;
    cursor: pointer;
    border: none;
    user-select: none;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker-prev-year-arrow {
    -webkit-transform: scale(-1);
    -ms-transform: scale(-1);
    transform: scale(-1);
}


#banksButtons+p{
    display: none;
}

#banksButtons:empty+p{
    display: block;
}

::-webkit-input-placeholder { 
  color: #999;
}
::-moz-placeholder { 
  color: #999;
}
:-ms-input-placeholder { 
  color: #999;
}
:-moz-placeholder { 
  color: #999;
}